data_dir = "/var/lib/consul"
bind_addr = "0.0.0.0"
client_addr = "0.0.0.0"
advertise_addr = "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}"
node_name = "{{ ansible_host }}"
server = true
ui = true
bootstrap_expect = {{ bootstrap_expect }}
retry_join = {{ retry_join }}
encrypt = "{{ consul_encrypt }}"