data_dir = "/var/lib/consul"
bind_addr = "{{ ansible_host }}"
client_addr = "{{ ansible_host }}"
node_name = "{{ ansible_host }}"
server = true
ui = true
bootstrap_expect = {{ bootstrap_expect }}
retry_join = {{ retry_join }}
encrypt = "{{ consul_encrypt }}"