data_dir  = "/var/lib/nomad"
bind_addr = "{{ ansible_host }}"
name = "{{ ansible_host }}"

client {
  enabled = true
}

server {
  enabled = true
  bootstrap_expect = {{ bootstrap_expect }}
  encrypt = "{{ nomad_encrypt }}"
  server_join {
    retry_join = {{ retry_join }}
  }
}

consul {
  address = "{{ ansible_host }}:8500"
}

